/*
=======================
Custom Font
=======================
*/

@font-face {
    font-family: 'pixel_emulatorregular';
    src: url('pixel_emulator-webfont.eot');
    src: url('pixel_emulator-webfont.eot?#iefix') format('embedded-opentype'),
         url('pixel_emulator-webfont.woff2') format('woff2'),
         url('pixel_emulator-webfont.woff') format('woff'),
         url('pixel_emulator-webfont.ttf') format('truetype'),
         url('pixel_emulator-webfont.svg#pixel_emulatorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*
=======================
Tag selectors
=======================
*/


* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
    	box-sizing: border-box;
    }

header {
	padding: 5px 5px 0px 5px;
	color: #FFFFFF;
	height: 30px;
	width: 100%;
	background: #4C4B4C;;
}

nav {
	width: 100%;
	background: #FFF1F1;
	color: #040303;
}


footer{
	color: #FFFFFF;
	width: 100%;
	text-align: center;
	background: #4C4B4C;
	height: 60px;
}
 body {
 	font-family: 'pixel_emulatorregular';
    background-image: url("../img/syudJMa.png");
 }

/*
=======================
Floats
=======================
*/

.left {
	float: left;
}

.right { 
	float: right;
}

.clear {
	clear: both;
}

/*
=======================
Navbar - petyo
=======================
*/
.navimain {
    width: 100%;
    background-color: #222;
    height: 70px;
    color: #fff;
}

.navimain .logo{
    float: left;
    height: 50px;
    padding: 15px 30px;
    font-size: 40px;
    line-height: 40px;
}

.navimain > ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type:none;
}

.navimain > ul > li{
    float: left;

}

.naviitem {
    display: inline-block;
    padding: 15px 30px;
    height: 70px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family:'pixel_emulatorregular';
}

.naviitem:hover {
    background-color: #2187DB;
}


/*=====================
 / Bradley - Contact Us
=======================
*/
.formBorder {
    padding:8%;
    margin:2%;
    border:1px solid black;
    background-color: #2187DB;
}
a {
    text-decoration: none;
    color: #2187DB;
}

#formHolder {
    width: 325px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
/*
=======================
Forms
=======================
*/
#login_username {
	size:"5";
}
#subscriptionFormHolder {
    padding-bottom: 50px;
    background: #F3F5E8;
}

#subscriptionForm {
    font-family: courier;
    border: solid 5px #2187DB;
    margin: 0 auto;
    width: 200px;
}
#subscriptionForm. label {
    display: inline-block;
    width: 100px;
    text-align: left;
}

#formButton {
    color: #FFF;
    margin: 10px 10px 10px 20px;
    display:inline;
    margin-top: 20px;
    border: 5px solid #2187DB;
    padding: 10px;
    background: #2187DB;
    width: 150px;
}
#formButton:hover {
    color: #2187DB;
    border: 5px solid #2187DB;
    padding: 10px;
    background: #FFFFFF;
    width: 150px;
}

#registerFormHolder {
    padding-bottom: 50px;
    background: #F3F5E8;
}

#registerForm {
    font-family: courier;
    border: solid 5px #2187DB;
    margin: 0 auto;
    width: 200px;
}

#registerForm. label {
    display: inline-block;
    width: 100px;
    text-align: left;
}

/*
=======================
IDs
=======================
*/

#welcomeText {
    padding:20px;
    font-size: 32px;
}
#slideshowContent {
    text-align: center;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: #F3F5E8;

}


#slide {
    margin: 0 auto;
    display: block;
}

#changeSlideAdd {
    margin-top: 150px;
    height:50px;
}

#changeSlideTake {
    margin-top: 150px;
    height:50px;
}

#subscribeButton {
    display:inline;
    margin-top: 200px;
    border: 5px solid #2187DB;
    padding: 10px;
    background: #2187DB;
    width: 150px;
}

#subscribeButton:hover {
    border: 5px solid #2187DB;
    padding: 10px;
    background: #FFFFFF;
    width: 150px;
}

#facebookLogo{
    margin: 0px 5px 0px 5px;
}

#twitterLogo{
    margin: 0px 5px 0px 0px;
}

#subButtonHolder {
    margin-top:40px;
    display: inline-block;
}

#subscriptionInfo {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#luckyBoxLogo {
    margin: 15px 0px 0px 15px;
}

#subscribeLink {
    /*padding: 13px 6px 13px 6px;*/
    text-decoration: none;
    color:#FFFFFF;
}

#subscribeLink:hover {
    text-decoration: none;
    color:#2187DB;
}
#subscribeLink:visited {
    text-decoration: none;
    color:#FFFFFF;
}

#homeContentText {
    font-family: courier;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background: #F3F5E8;
    border: solid 5px #2187DB;
    margin-bottom: 10px;
}

#Guidepage {
    margin-top: 10px;
    font-size: 20px;
}

#Quateinfo {
    font-family: Courier;
}

#aboutUs {
    font-family: Courier;
    width: 60%;

}
/*
=======================
Class selectors
=======================
*/

.mainContent {
    margin-left: auto;
    margin-right: auto;
	width: 70%;
	background: #F3F5E8;
	
}

.allContent {
    margin-left: auto;
    margin-right: auto;
	width: 70%;
    text-align: -webkit-center;
    background: #F3F5E8;
}

.centerElement {
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}


.levelText {
    /*margin-top: 50px;*/
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: courier;
    height: 300px;
    float: left;
    width: 30%;
    border: solid 5px #2187DB;
}

.subHeader {
    font-weight: 900;
    padding-top: 10px;
    padding-bottom: 10px;
}
.circlenum {
    color: white;
    font-size: 34px;
}

.circle {
    margin-top: 25px;
    border-radius: 40px;
    background-color: #2187db;
    height: 40px;
    width: 35pX;
    text-align: center;
    display: inline-block;
}

.contanirtext {
    text-align: center;
}

.contanirtext h3 {
    font-weight: 600;
    margin-top: 10px;
}

.aboutcontent {
    width: 33%;
    float: left;

}

ul.textinfo > li,b {
    list-style-type: none;
}

.content-bg {
    background-color: #eff0f5;
    padding: 0 0 400px; 
}

.content-bg {
    max-width: 1350px;
}

.header {
    text-align: center;
    position: relative;
    font-size: 22px;
    max-width: 1350px;
}

   

.header .lineeffect {
    width: 100%;
    height: 1px;
    background-color: #cecdd3;
    top: 50%;
    position: absolute;
}

.header .title {
    background-color: #eff0f5;

}

.header h4 {
    color: #2187db;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    display: inline-block;
    line-height: 1em;
    padding; 0 15px;

}

.enterimage {
    width: 40%;
    margin-top: 30px;
}

.merchandise {
    width: 55%;
    margin-top: 20px;
    
}

.join {
    width: 50;
    margin-top: 60px
}

.textinfo {
    font-family: Courier;
}

.oneoffcontent {
    margin-top: 30px;
    width:60%;

}
