
#title{
 font-family: Pixel Emulator;
 font-size: 330%;
 color: saddlebrown;
 position:relative;
 top: 35%;
 left: 4%;
}
h3{
  font-size: 80%; 
  position:relative;
  left: 1%;
  top: 80px;
}
h2{
    font-size: 110%;
    position:relative;
    left: 2%;
    bottom: 70px;
}
#title img{
    position: relative;
    bottom: 200px;
    left:8%;
}

#hide,#hide1,#hide2{
    display: none;
}
#hide p,#hide1 p,#hide2 p{
    border: saddlebrown solid 2px;
    width: 40%;
    font-family: Pixel Emulator;
    font-size: 140%; 
    color: saddlebrown;
    padding: 12px; 
}
#pipe,#pipe2{
    position: relative;
    left:90%;
}
#pipe2{
   position: relative;
   bottom: 24%;
   display: none;
}
#figures:hover + #hide{
    display:block;
}
#history:hover + #hide1{
    display: block;
}
#check:hover + #hide2{
    display: block;
}
#pipe:hover + #pipe2{
    display: block;
}
#figures{
   position: relative;
    bottom: 40%;
    left: 50%;
}
#history{
   position: relative;
    bottom: 20%;
    left: 80%; 
}
#check{
    position: relative;
    bottom: 1%;
    left: 50%;
}
#hide{
    position: relative;
    bottom: 49%;
    left: 50%;
}
#hide1{
    position: relative;
    bottom: 30%;
    left: 80%; 
}
#hide2{
    position: relative;
    bottom: 11%;
    left: 50%;
}
#bottom{
    font-family: Pixel Emulator;
    position: relative;
    left:89%;
    bottom: 22%;
    font-size: 160%;
    color: forestgreen;
    background-color: white;
}
body{
    background-image: url(images/fina.jpg);
    
}
  